[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
asgiref = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
cryptography = "*"
dj-database-url = "*"
Django = "*"
django-cors-headers = "*"
django-heroku = "*"
django-redis = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
flake8 = "*"
gunicorn = "*"
idna = "*"
isodate = "*"
mccabe = "*"
packaging = "*"
Pillow = "*"
psycopg2 = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
PyJWT = "*"
python-decouple = "*"
pytz = "*"
requests = "*"
six = "*"
sqlparse = "*"
typing_extensions = "*"
urllib3 = "*"


[dev-packages]

[requires]
python_version = "3.10"
